.task-lists {
    margin: var(--space-md) auto;
    width: 90%;
}

.main {
    touch-action: pan-y;
    padding-bottom: 70px;
}

.task-lists.completed {
    padding-bottom: 0;
}

.task-list-title {
    text-transform: uppercase;
    font-size: 15px;
    color: var(--text-secondary);
    margin: 0;
    margin-bottom: var(--space-md)
}

.app-warning {
    gap: var(--space-md);
    background: var(--warning-bg);
    border-radius: var(--radius-md);
    padding: var(--space-md) var(--space-lg);
    margin: var(--space-md) auto;
    width: 90%;
}

.warning-close {
    border: none;
    background: none;
    color: var(--warning);
    padding: var(--space-xs);
    cursor: pointer;
}

.warning-left-side {
    flex-shrink: 0;
    color: var(--warning);;
    background-color: var(--warning-surface);
    border-radius: var(--radius-md);
    width: var(--button);
    height: var(--button);
}

.warning-text {
    font-size: 13px;
    flex: 1;
    margin: 0;
}