.bottom-bar {
    display: flex;
    width: 90%;
    margin: 0 auto;
    gap: var(--space-md);
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
}

.task-button {
    z-index: 1 ;
    width: 60px;
    height: var(--button);
    border-radius: var(--radius-lg);
    background-color: var(--surface);
    color: var(--text-secondary);
    border: none;
    cursor: pointer;
    transition: var(--transition);
}

.task-button:hover {
    box-shadow: var(--shadow-primary);
}

.task-button.add {
    background-color: var(--primary);
    color: var(--text);
    width: 100%;
    font-weight: bold;
    gap: var(--space-md);
}

.task-button.info {
    background: none;
    padding: 0;
    width: fit-content;
    height: fit-content;
}