.bottom-bar {
    position: fixed;
    bottom: var(--space-xxl);
    display: flex;
    gap: var(--space-xl);
    margin: 0 auto;
    width: 90%;
    justify-content: center;
    align-items: center;
}

.task-button {
    z-index: 1 ;
    width: var(--button);
    height: var(--button);
    border-radius: var(--radius-lg);
    background-color: var(--surface);
    color: var(--text-secondary);
    border: none;
    cursor: pointer;
    transition: var(--transition);
}

.task-button:hover {
    box-shadow: var(--shadow-primary);
}

.task-button.add {
    background-color: var(--primary);
    color: var(--text);
    width: fit-content;
    padding: 25px;
    font-weight: bold;
    gap: 10px;
}