.app-header {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: var(--space-lg);
    margin-bottom: var(--space-sm);
}

.app-header p, h1 {
    margin: 0;
}

.debug {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: fit-content;
    height: fit-content;
}

.app-version {
    color: var(--text-secondary);
}

.header-container {
    gap: var(--space-xs);
}

.header-container p{
    color: var(--text-secondary);
}