.modal-overlay {
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0;
    background: #00000098;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    z-index: 2;
    animation: fadeIn var(--animation-fast) ease;
}

.modal {
    background: #1b1b1d;
    border-radius: var(--radius-lg);
    padding: var(--space-xl) var(--space-xl) 28px;
    width: 100%;
    margin: var(--space-md);
    box-sizing: border-box;
    z-index: 3;
    animation: slideUp var(--animation-normal) ease;
    transition: .2s;
    height: auto;
}

.modal-header {
    display: flex;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--space-xl);
}

.modal-title {
    margin: 0;
    cursor: default;
    font-size: 20px;
    margin: 0 auto;
}

.body-input {
    display: flex;
    gap: var(--space-md);
    justify-content: center;
    background-color: #2d2d2f;
    border-radius: var(--radius-md);
    width: 100%;
}

.modal-input {
    background: none;
    color: var(--text);
    padding: var(--space-lg) var(--space-lg);
    border: none;
    font-size: 15px;
    outline: none;
    resize: none;
    overflow: hidden;
    box-sizing: border-box;
    min-height: 50px;
}

.modal-action-bar {
    display: flex;
    align-items: center;
    gap: var(--space-lg);
    margin-top: auto
}

.modal-button {
    min-height: 50px;
    border: none;
    border-radius: var(--radius-md);
    font-size: 15px;
    cursor: pointer;
    transition: var(--animation-normal);
    background-color: var( --primary);
    color: var(--text);
    padding: 0px;
    font-weight: bold;
}

.modal-button:hover {
    background-color: var(--text);
    color: var(--primary);
}

.modal-button.censel:hover {
    background: #ffffff0f;
    color: var(--text);
}

.modal-button span {
    display: flex;
    align-items: center;
    gap: var(--space-xs);
    padding: 0px;
}

.modal-button.delete {
    background: none;
    color: var(--warning);
    background-color: #ff00003a;
}

.modal-button.delete:hover {
    color: var(--text);
    background-color: var(--warning);
}

.modal-button.censel {
    background-color: var(--surface-2);
    color: var(--primary);
}

.modal-button.close {
    background: none;
    width: fit-content;
    color: var(--divider);
}

.modal-button.close:hover {
    color: var(--text);
}


.modal-handle {
    width: 20%;
    height: var(--space-xs);
    background: var(--divider);
    border-radius: var(--radius-sm);
    margin: 0 auto var(--space-xl);
}

.modal-body {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
    gap: 10px;
}

.modal-ifno-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: var(--space-sm);
}

.modal-text.info {
    color: var(--text-secondary);
    text-align: center;
}

.modal-header.info p {
    font-size: 14px;
}

.modal-info-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
}

.modal-info-link.right {
    gap: 10px;
    padding: 0;
}

.un-active {
    color: var(--text-secondary);
}

.info-ico {
    width: 24px;
}