.task-item {
    justify-content: space-between;
    font-size: 17px;
    padding: var(--space-md) var(--space-md) var(--space-md);
    margin-bottom: var(--space-md);
    align-items: center;
}

.task-text {
    display: flex;
    align-items: center;
    flex: 1;
    min-width: 0;
    overflow-wrap: break-word;
    word-break: break-word;
}
.task-checkbox {
    flex-shrink: 0;
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    margin-right: var(--space-md);
    border: 1.5px solid #4b4b4b;
    border-radius: var(--radius-cb);
    background-color: transparent;
    cursor: pointer;  
    position: relative;
    transition: var(--animation-normal);
    }

.task-checkbox:checked {
  background-color: var(--primary);
  border: none;
}

.task-checkbox:hover {
  transform: scale(1.1);
  border-color: var(--text);
}

.task-label.completed {
  color: var(--text-secondary)
}

.task-item.completed {
  background-color: var(--task-bg);
  border-radius: var(--radius-md);
  border: none;
}

.edit-button {
  border: none;
  background: none;
  color: var(--text-secondary);
  cursor: pointer;
  padding: 0;
  transition: var(--animation-normal);
}

.edit-button:hover {
  transform: scale(1.1);
  color: var(--text);
}
