@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideUp {
    from { transform: translateY(100%); }
    to { transform: translateY(0); }
}

.modal-overlay {
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0;
    background: #00000098;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    z-index: 2;
    animation: fadeIn 0.25s ease;
}

.modal {
    background: #1b1b1b;
    border-radius: 20px 20px 0 0;
    padding: 20px 20px 28px;
    width: 100%;
    margin: 0px 10px 0px 10px;
    box-sizing: border-box;
    z-index: 3;
    animation: slideUp 0.3s ease;
    transition: .2s;
}

.modal-header {
    display: flex;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.modal-title {
    margin: 0;
    cursor: default;
    font-size: 20px;
}

.body-input {
    display: flex;
    gap: 10px;
    justify-content: center;
    background-color: #000;
    border-radius: 15px;
    margin-bottom: 20px;
    width: 100%;
}

.modal-input {
    background: none;
    width: 100%;
    color: #fff;
    padding: 15px 15px;
    border: none;
    font-size: 15px;
    outline: none;
    resize: none;
    overflow: hidden;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    min-height: 50px;
}

.modal-action-bar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.modal-button {
    display: flex;
    width: 100%;
    min-height: 50px;
    border: none;
    border-radius: 15px;
    align-items: center;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease;
    background-color: #2961b6;
    color: #fff;
    justify-content: center;
    padding: 0px;
}

.modal-button:hover {
    background-color: #fff;
    color: #2961b6;
}


.modal-button span {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0px;
}

.modal-button.delete {
    background: none;
    color: #ff0000;
    width: fit-content;
}

.modal-button.delete:hover {
    color: #ffffff;
}

.modal-button.close {
    background: none;
    color: #4b4b4b;
    width: fit-content;
}


.modal-button.close:hover {
    color: #fff;
}

.modal-handle {
    width: 20%;
    height: 4px;
    background: #999999;
    border-radius: 2px;
    margin: 0 auto 20px;
}
